In [1]:
import pandas as pd, numpy as np

In [7]:
df = pd.read_csv('CSV\'s/cleaned_distiller_2.csv')

In [8]:
df.head()

,name,rating,type
0,Monkey 47 Dry Gin,9.9,Modern Gin
1,"Eric Bordelet Selection ""Henri Bernard Beudin""...",9.9,Calvados
2,Cognac Dudognon Heritage,9.9,Cognac
3,Hibiki 21 Year,9.9,Blended
4,Hibiki 21 Year,9.9,Peated Single Malt

In [13]:
df['type'] = df['type'].astype('str')

In [14]:
df.head()

,name,rating,type
0,Monkey 47 Dry Gin,9.9,Modern Gin
1,"Eric Bordelet Selection ""Henri Bernard Beudin""...",9.9,Calvados
2,Cognac Dudognon Heritage,9.9,Cognac
3,Hibiki 21 Year,9.9,Blended
4,Hibiki 21 Year,9.9,Peated Single Malt