In [1]:
import pandas as pd, numpy as np

In [2]:
distiller = pd.read_csv('CSV\'s/distiller.csv')
meta = pd.read_csv('CSV\'s/meta_critic.csv')
thirst = pd.read_csv('CSV\'s/modern_thirst.csv')
distiller_style = pd.read_csv('CSV\'s/distilled_styles.csv')
thirst_style = pd.read_csv('CSV\'s/modern_thirst_styles.csv')

In [3]:
print(distiller.head())
print(meta.head())
print(thirst.head())

   Unnamed: 0                                               name  rating
0           0                              \nMonkey 47 Dry Gin\n      99
1           1  \nEric Bordelet Selection "Henri Bernard Beudi...      99
2           2                       \nCognac Dudognon Heritage\n      99
3           3                                 \nHibiki 21 Year\n      99
4           4                                 \nHibiki 21 Year\n      99
                                              Whisky  Meta Critic  STDEV   #  \
0                                Ledaig 42yo Dusgadh         9.48   0.23   3
1  Laphroaig 27yo 57.4% 1980-2007 (OB, 5 Oloroso ...         9.42   0.22   4
2                                   Glenfarclas 40yo         9.30   0.27  17
3                       Aberlour A'Bunadh (Batch 56)         9.25   0.24   3
4                                     Glengoyne 25yo         9.25   0.22  21

     Cost            Class Super Cluster Cluster   Country  Type
0  $$$$$+  SingleMalt-like           ABC       C  Scotland  Malt
1  $$$$$+  SingleMalt-like           ABC       C  Scotland  Malt
2  $$$$$+  SingleMalt-like           ABC       A  Scotland  Malt
3    $$$$  SingleMalt-like           ABC       A  Scotland  Malt
4  $$$$$+  SingleMalt-like           ABC       A  Scotland  Malt
   Unnamed: 0                                               name rating
0           0                      2bar Straight Bourbon Whiskey   85\n
1           1                                    1792 Full Proof   91\n
2           2             1792 Full Proof Single Barrel (Kroger)     89
3           3  1792 Full Proof Single Barrel (The Bourbon Soc...     94
4           4                                 1792 Single Barrel     88

In [4]:
meta = meta[['Whisky', 'Meta Critic', 'Type']]
meta.rename(columns = {'Whisky':'name','Meta Critic':'rating'}, inplace = True)

In [5]:
print(distiller.shape)
print(meta.shape)
print(thirst.shape)

(18920, 3)
(1708, 3)
(387, 3)

In [6]:
new = distiller_style['style/type'].str.split(',', n=1, expand = True)
distiller_style['style'] = new[0]

In [7]:
distiller.drop('Unnamed: 0', axis=1, inplace=True)
thirst.drop('Unnamed: 0', axis=1, inplace=True)
thirst.drop([66,112,130,144,147,174,309,376], inplace = True)
distiller_style.drop(columns=['style/type'], axis = 1, inplace = True)
thirst_style.drop(columns= ['Unnamed: 0'], axis = 1, inplace = True)

In [8]:
distiller['name'] = distiller['name'].replace('\n','', regex=True)

thirst['name'] = thirst['name'].replace('\n','', regex=True)
thirst['rating'] = thirst['rating'].replace('\n','', regex=True)
thirst['rating'] = thirst['rating'].replace('A', 94)
thirst['rating'] = thirst['rating'].replace('A-', 91)
thirst['rating'] = thirst['rating'].replace('B+', 88)
thirst['rating'] = thirst['rating'].replace('B', 85)
thirst['rating'] = thirst['rating'].replace('B-', 81)
thirst['rating'] = thirst['rating'].replace('C+', 78)
thirst['rating'] = thirst['rating'].replace('C', 75)
thirst['rating'] = thirst['rating'].replace('C-', 72)
thirst['rating'] = thirst['rating'].replace('D+', 70)
thirst['rating'] = thirst['rating'].replace('D', 65)
thirst['rating'] = thirst['rating'].replace('F', 59)
thirst['rating'] = thirst['rating'].replace('B/B+', 86)
thirst['rating'] = thirst['rating'].replace('C/C+', 76)
thirst['rating'] = thirst['rating'].replace('C/C-', 73)
thirst['rating'] = thirst['rating'].replace('B/B-', 83)
thirst['rating'] = thirst['rating'].replace('86-', 86)
thirst['rating'] = thirst['rating'].replace('82-', 82)
thirst['rating'] = thirst['rating'].replace(' 93', 93)

In [9]:
distiller = distiller.astype({'rating': float})

thirst = thirst.astype({'rating': float})

In [10]:
print(meta.dtypes)
print()
print(distiller.dtypes)
print()
print(thirst.dtypes)

name       object
rating    float64
Type       object
dtype: object

name       object
rating    float64
dtype: object

name       object
rating    float64
dtype: object

In [11]:
print(distiller.head())
print(thirst.head())

                                                name  rating
0                                  Monkey 47 Dry Gin    99.0
1  Eric Bordelet Selection "Henri Bernard Beudin"...    99.0
2                           Cognac Dudognon Heritage    99.0
3                                     Hibiki 21 Year    99.0
4                                     Hibiki 21 Year    99.0
                                                name  rating
0                      2bar Straight Bourbon Whiskey    85.0
1                                    1792 Full Proof    91.0
2             1792 Full Proof Single Barrel (Kroger)    89.0
3  1792 Full Proof Single Barrel (The Bourbon Soc...    94.0
4                                 1792 Single Barrel    88.0

In [12]:
print(distiller.isnull().sum())
print()
print(meta.isnull().sum())
print()
print(thirst.isnull().sum())

name      0
rating    0
dtype: int64

name      0
rating    0
Type      0
dtype: int64

name      0
rating    0
dtype: int64

In [13]:
distiller['rating'].value_counts()

40.0    13660
90.0      454
88.0      428
87.0      389
85.0      334
89.0      316
86.0      315
92.0      313
84.0      307
82.0      259
91.0      259
83.0      241
80.0      231
93.0      210
94.0      172
81.0      127
79.0      125
78.0      105
95.0      101
96.0       84
75.0       77
77.0       55
70.0       46
72.0       44
97.0       40
76.0       33
74.0       31
98.0       25
73.0       25
65.0       18
68.0       17
71.0       17
69.0       13
55.0        8
60.0        7
99.0        6
62.0        6
50.0        5
66.0        5
59.0        4
58.0        3
67.0        2
52.0        1
54.0        1
64.0        1
Name: rating, dtype: int64

In [14]:
meta['rating'].value_counts()

8.84    26
8.70    24
8.66    23
8.85    23
8.51    23
        ..
7.69     1
7.13     1
7.06     1
7.53     1
7.74     1
Name: rating, Length: 209, dtype: int64

In [15]:
thirst['rating'].value_counts()

88.0    43
85.0    35
91.0    34
86.0    33
90.0    30
92.0    22
87.0    22
89.0    21
84.0    14
83.0    12
93.0    11
94.0    10
82.0    10
78.0    10
75.0     9
81.0     8
79.0     6
95.0     5
88.5     4
76.0     4
80.0     4
72.0     3
83.5     3
85.5     3
69.0     2
89.5     2
77.0     2
73.0     2
93.5     2
91.5     2
86.5     1
87.5     1
55.0     1
94.5     1
66.0     1
96.0     1
68.0     1
67.0     1
77.5     1
70.0     1
81.3     1
Name: rating, dtype: int64

In [16]:
thirst['rating'] = thirst['rating']/10
distiller['rating'] = distiller['rating']/10

In [17]:
thirst = thirst.merge(thirst_style, left_index=True, right_index=True)

In [18]:
distiller = distiller.merge(distiller_style, left_index=True, right_index=True)

In [19]:
distiller.to_csv('CSV\'s/cleaned_distiller_2.csv', index = False)
meta.to_csv('CSV\'s/cleaned_meta_2.csv', index = False)
thirst.to_csv('CSV\'s/cleaned_thirst_2.csv', index = False)