In [1]:
import pandas as pd

In [2]:
# distiller = pd.read_csv('CSV\'s/cleaned_distiller_2.csv')
meta = pd.read_csv('CSV\'s/cleaned_meta_2.csv')
thirst = pd.read_csv('CSV\'s/cleaned_thirst_2.csv')

In [3]:
whiskey_df = thirst.merge(meta, on = ['name', 'rating', 'type'], how = 'outer')

In [4]:
# thirst_meta

In [5]:
# whiskey_df = distiller_meta.merge(thirst, on = ['name', 'rating', 'type'], how = 'outer')

In [6]:
whiskey_df

                                                   name  rating       type
0                         2bar Straight Bourbon Whiskey    8.50    Bourbon
1                                       1792 Full Proof    9.10    Bourbon
2                1792 Full Proof Single Barrel (Kroger)    8.90    Bourbon
3     1792 Full Proof Single Barrel (The Bourbon Soc...    9.40    Bourbon
4                                    1792 Single Barrel    8.80    Bourbon
...                                                 ...     ...        ...
2081                          Ezra B 12yo Single Barrel    7.65    Bourbon
2082                               Jim Beam White Label    7.63    Bourbon
2083                        Rebel Yell Kentucky Bourbon    7.55    Bourbon
2084                   Jim Beam Red Stag (Black Cherry)    7.36  Flavoured
2085                                     Virginia Black    7.20    Bourbon

[2086 rows x 3 columns]

In [7]:
whiskey_df.shape

(2086, 3)

In [8]:
whiskey_df['type'].value_counts().index

Index(['Malt', 'Bourbon', 'Blend', 'Rye', 'Scotch', 'Irish Whiskey',
       'Japanese Whisky', 'American SIngle Malt', 'Grain',
       'American Malt Whiskey', 'Finished Bourbon', 'Whiskey', 'Rye Whiskey',
       'Wheat Whiskey', 'Tennessee Whiskey', 'Bourye', 'Corn Whiskey', 'Wheat',
       'Taiwanese Single Malt Whiskey', 'Finished Rye', 'American Single Malt',
       'Malt Whiskey', 'Japanese Whisky\n', 'Flavored Whiskey',
       'Blended Bourbon', 'Flavoured', 'Swedish Single Malt',
       'American Whiskey', 'Barley', 'Finished Whiskey', 'Indian Single Malt'],
      dtype='object')

In [9]:
# whiskey_df['type'] = whiskey_df['type'].replace(['Single Malt', 'Peated Single Malt',
#                                                  'Swedish Single Malt', 'Indian Single Malt',
#                                                  'Malt Whiskey', 'American Single Malt', 
#                                                  'Taiwanese Single Malt Whiskey', 'Blended Malt',
#                                                 'Peated Blended Malt','American SIngle Malt',
#                                                  'American Malt Whiskey', 'Peated Blend', 'Malt'], 1)

In [10]:
# whiskey_df['type'] = whiskey_df['type'].replace(['Distilled Gin', 'Modern Gin',
#                                                  'Unflavored Vodka', 'Flavored Vodka',
#                                                 'Gin de Mahón', 'London Dry Gin', 'Fruit Genever', 
#                                                  'Plymouth Gin', 'Flavored Gin','Barrel-Aged Gin',
#                                                 'Old Tom Gin','Navy-Strength Gin','Sloe Gin & Variants',
#                                                  'Compound Gin','Barrel-Aged Vodka', 'Genever'], 3)

In [11]:
# whiskey_df['type'] = whiskey_df['type'].replace(['Other Whiskey', 'American Whiskey', 'Finished Whiskey',
#                                                 'Japanese Whisky', 'Japanese Whisky\n', 'Corn Whiskey',
#                                                 'Flavored Whiskey', 'Blended American Whiskey', 'Tennessee Whiskey',
#                                                 'Irish Whiskey', 'Tennessee', 'Single Pot Still',
#                                                  'Genever-Style', 'Whiskey'], 6)

In [12]:
# whiskey_df['type'] = whiskey_df['type'].replace(['Tequila Mixto Añejo','Tequila Mixto Reposado',
#                                                  'Mezcal Extra Añejo', 'Mezcal Joven', 'Sotol Añejo',
#                                                  'Tequila Mixto Extra Añejo', 'Raicilla Joven',
#                                                  'Mezcal Gold', 'Bacanora Añejo','Tequila Blanco',
#                                                  'Tequila Reposado', 'Tequila Añejo', 'Tequila Extra Añejo',
#                                                  'Tequila Joven', 'Mezcal Reposado', 'Other Agave', 
#                                                  'Other Sugarcane', 'Spanish', 'Anise Liqueurs','Sotol Blanco',
#                                                  'Tequila Mixto Gold', 'Aguardiente', 'Mezcal Añejo',
#                                                  'Rhum Agricole Éléve Sous Bois', 'Raicilla Blanco', 
#                                                  'Tequila Mixto Blanco', 'Bacanora Blanco'], 5)

In [13]:
# whiskey_df['type'] = whiskey_df['type'].replace(['Blended Bourbon','Finished Bourbon', 'Bourban','Bourbon'],2)

In [14]:
# whiskey_df['type'] = whiskey_df['type'].replace(['Finished Rye', 'Bourye', 'Rye Whiskey', 'Rye'], 8)

In [15]:
# whiskey_df['type'] = whiskey_df['type'].replace(['Aged Rum', 'Silver Rum', 'Flavored Rum', 'Spiced Rum', 
#                                                  'Gold Rum', 'Navy Rum', 'Dark Rum', 'Rhum Agricole Vieux',
#                                                  'Rhum Agricole Blanc'], 4)

In [16]:
# whiskey_df['type'] = whiskey_df['type'].replace(['Cognac', 'Armagnac','Other Brandy', 'American Brandy',
#                                                  'Calvados', 'Grappa/Marc ', 'Eau-de-Vie', 'Pisco ', 
#                                                  'Blanche Armagnac'],7)

In [17]:
# whiskey_df['type'] = whiskey_df['type'].replace(['Blend','Blended', 'Flavoured', 'Canadian','Coffee Liqueurs', 
#                                                 'Nut Liqueurs', 'Dairy/Egg Liqueurs', 'Chocolate Liqueurs',
#                                                  'Floral Liqueurs', 'Herbal/Spice Liqueurs', 'Fruit Liqueurs',
#                                                  'Other Liqueurs', 'White', 'Corn', 'Amaro', 'Bitter Liqueurs',
#                                                  'Cachaça ', 'Spirit', 'Non-Potable Bitters', 
#                                                  'Triple Sec/Curaçao', 'Anise Liqueurs', 'Arak',
#                                                  'Sotol Reposado'],11)

In [18]:
# whiskey_df['type'] = whiskey_df['type'].replace(['Wheat Whiskey', 'Grain', 'Single Grain', 'Blended Grain',
#                                                 'Wheat', 'Barley'],9)

In [19]:
# whiskey_df['type'] = whiskey_df['type'].replace('Scotch', 10)

In [20]:
whiskey_df['type'].value_counts()

Malt                             1119
Bourbon                           390
Blend                             294
Rye                               107
Scotch                             57
Irish Whiskey                      32
Japanese Whisky                    24
American SIngle Malt                8
Grain                               7
American Malt Whiskey               7
Finished Bourbon                    4
Whiskey                             4
Rye Whiskey                         4
Wheat Whiskey                       4
Tennessee Whiskey                   4
Bourye                              3
Corn Whiskey                        2
Wheat                               2
Taiwanese Single Malt Whiskey       2
Finished Rye                        1
American Single Malt                1
Malt Whiskey                        1
Japanese Whisky\n                   1
Flavored Whiskey                    1
Blended Bourbon                     1
Flavoured                           1
Swedish Single Malt                 1
American Whiskey                    1
Barley                              1
Finished Whiskey                    1
Indian Single Malt                  1
Name: type, dtype: int64

In [21]:
whiskey_df.to_csv('CSV\'s/full_whiskey_list.csv', index = False)